.about-page{
    height: 100%;
    width: 100%;
}
.about-image{
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}
.vision{
    background-image: url('/public/images/company-vision.jpg');
}
.house-now{
    background-image: url('/public/images/house-now.jpg');
}
.developers{
    background-image: url('/public/images/developer.jpg');
}
.about-span{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 550px;
    padding-top: 20%;
    text-align: center;
}
.about-span h5{
    background-color: gray;
    color:wheat;
    font-size: 2rem;
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 0.2em;
}
.about-text h5{
    text-align: center;
    font-size: 1rem;
    padding:0;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.about-text p{
    text-align: center;
    font-size: 0.9rem;
    padding: 10px;
    letter-spacing: 0.3em;
}
.light-themed{
    background-color: white;
    color: black;
    text-align: justify;
    text-align:center;
    justify-content: center;
    align-items:center;
    padding: 30px;
}
.dark-themed{
    background-color: black;
    color: wheat;
    text-align: justify;
    text-align:center;
    justify-content: center;
    align-items:center;
    padding: 30px;
}
.shop-now-btn{
    border: none;
    border-radius: 14px;
    width: 80px;
    height:40px;
}
.shop-now-btn:hover{
    cursor: pointer;
    border: none;
    background-color: white;
    border: 1px solid black;
}