.home-page{
    height: 100%;
    width: 96%;
    margin:0px;
}
.floating-titles {
    font-size: 3rem;
    text-align: center;
}
@media screen and (max-width: 800px) {
  .home-page{
    margin:0 ;
}
  }
@media screen and (orientation: landscape) {
  .home-page{
    margin:0 ;
    height: 93%;
    width: 100%;
}
}