.listings-page{
    height: 96%;
    width: 96%;
    margin:0 10px;
}
.cities-caption{
    margin:0 auto;
    padding: 0;
    border-radius: 14px;
    background-repeat: no-repeat;
    background-position: center;
}
.img-container{
    padding-bottom: 10px;
    height: 65vh;
    width: 70%;
    background-repeat: no-repeat;
    background-position: center;
    margin:0 auto;
    position: relative;  
}
.image-mask{
    visibility: hidden;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}
.cities-img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    /*
    background-repeat: no-repeat;
    background-position: center;  */
}
.cities-background-img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.cities-caption h4{
    text-transform: uppercase;
    text-decoration:underline;
    text-underline-offset: 8px;
    letter-spacing: .3em;
    text-align: center;
}
.cities-caption p{
    letter-spacing: .2em;
    text-align: center;
}
.cities span{
    margin: 0 auto;
    display: inline-block;
    padding: 10px;
    align-items: center;
    justify-content: center;

    color: wheat;
    background-color: transparent;
    height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .2em;
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
}
.cities{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cities span:hover{
    cursor: pointer;
    border: 1px solid white;
}
@media screen and (max-width: 800px)  {
    @media screen and (orientation: portrait)  {
    .img-container{
        margin-top: 5vh;
        padding-bottom: 10px;
        height: 25vh;
        width: 85vw;
        position: relative;  
    }
    .cities-caption{
        h4{
            font-size: 3.5vw;
            // word-spacing: 2vw;
        }
        p{
            font-size: 3.5vw;
        }
    }

    }

}

// and (orientation: landscape)