.login-page{
    height: 100%;
    width: 96%;
    margin:0 10px;
}
.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    border: 1px solid white;
    border-radius: 14px;
    padding: 30px 30px 30px 30px;
    font-size: 1em;
    width: 400px;
    letter-spacing: .2em;
    text-align: center;
}
.login-page h5{
    font-size: 1.5em;
    text-align: center;
    letter-spacing: .1em;
    text-transform: capitalize;
}
label{
    padding-bottom: 30px;
}
input{
    border-radius: 8px;
    border: 1px solid wheat;
    padding: 10px 10px;
    color:white;
    background: transparent;
    margin-bottom: 30px;
    text-align: center;
    
}
.login-btn{
    width: 80px;
    height: 40px;
    font-weight: 600;
    background-color: wheat;
    color: black;
}
.login-btn:hover{
    background-color: transparent;
    color:white;
    cursor: pointer;
}
.register-link{
    margin: 30px;
    text-decoration: none;
    text-decoration: underline;
    text-underline-offset: 3px;
    color:wheat;
}
.register-link:hover{
    color:white;
}
